<div class="page-container">
  <div class="one-column">
    <div class="card">
      <div class="event-header">
        <h2 class="centered-heading">Current</h2>
        <%= link_to "Get Credits", new_charge_path, class: "button" %>
        <%= link_to "New Event", new_event_path, class: "button primary" %>
      </div>
    </div>

    <% if @events.count.positive? %>
      <% @events.each do |e| %>
        <div class="card">
          <%= link_to event_path(e) do %>
            <div class="event-header">
              <span><%= e.name %></span>
              <span><%= e.phone_number.phone_formatted %></span>
              <span><%= e.time_left %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>