<div class="page-container">
  <div class="one-column">

    <div class="card">
      <div class="event-header">
        <span><%= @event.name %></span>
        <span><%= @event.time_left %></span>
        <span><%= @event.phone_number.phone_formatted %></span>
        <%= link_to "Broadcast", broadcast_event_path(@event), class: 'button primary' %>
      </div>
    </div>

    <div class="card">
      <div class="event-filters">
        <%= form_tag("/events/#{@event.id}", method: "get") do %>
          <%= hidden_field_tag(:ordering, @filters["ordering"])%>
          <%= text_field_tag(:search, @filters["search"])%>
          <%= submit_tag("Search", class: 'button primary') %>
        <% end %>
        <div class="filters">
          <% link_ = {controller: "events", action: "show", id: @event.id, ordering: @filters["ordering"], search: @filters["search"], funnel: @filters["funnel"], kind: @filters["kind"]} %>
          <%= link_to "Clear", event_path(@event.id), class: "filter" %>
          <span>|</span>
          <%= link_to "Short", link_.merge(ordering: "short"), class: "filter #{@filters["ordering"] === "short" && "selected"}" %>
          <%= link_to "Long", link_.merge(ordering: "long"), class: "filter #{@filters["ordering"] === "long" && "selected"}" %>
          <%= link_to "Common", link_.merge(ordering: "common"), class: "filter #{@filters["ordering"] === "common" && "selected"}" %>
          <%= link_to "Unique", link_.merge(ordering: "unique"), class: "filter #{@filters["ordering"] === "unique" && "selected"}" %>
          <span>|</span>
          <%= link_to "SMS", link_.merge(kind: "sms"), class: "filter #{@filters["kind"] === "sms" && "selected"}" %>
          <%= link_to "Tweets", link_.merge(kind: "tweet"), class: "filter #{@filters["kind"] === "tweet" && "selected"}" %>
          <span>|</span>
          <%= link_to "Selected", link_.merge(funnel: "selected"), class: "filter #{@filters["funnel"] === "selected" && "selected"}" %>
          <%= link_to "Unselected", link_.merge(funnel: "unselected"), class: "filter #{@filters["funnel"] === "unselected" && "selected"}" %>
        </div>
      </div>
    </div>

    <div class="narrower">
      <% @messages.each do |message| %>
        <div class="card">
          <p class="card-content"><%= message.body %></p>
          <div class="card-action">
            <% if message.selected.nil? %>
              <%= link_to "Select",
                select_event_message_path(@event.id, message.id),
                class: "button",
                id:    "message-button-#{message.id}",
                data:  { behavior: "mark-as-asked"},
                method: :post,
                remote: true
              %>
            <% else %>
              <%= link_to "Selected",
                select_event_message_path(@event.id, message.id),
                class: "button primary",
                method: :post,
                remote: true,
                data: { confirm: "Display message again?" }
              %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @messages.total_pages > 1 %>
      <div class="card">
        <%= paginate @messages %>
      </div>
    <% end %>

  </div>
</div>