<!DOCTYPE html>
<html>
  <head>
    <title>Manatee MC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="success-flash" id="success-flash" data-behavior="dismiss-success-flash">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error-flash" id="error-flash" data-behavior="dismiss-error-flash">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if user_signed_in?  %> 
      <%= render 'layouts/navigation/logged_in' %>
    <% else %>
      <%= render 'layouts/navigation/logged_out' %>
    <% end %>

    <%= yield %>

  </body>
</html>
