<!DOCTYPE html>
<html>
  <head>
    <title>Harmonizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <% if flash[:success] %>
      <div class="success-flash" id="success-flash" data-behavior="dismiss-success-flash">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error-flash" id="error-flash" data-behavior="dismiss-error-flash">
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="content-wrapper">
      <% if user_signed_in?  %> 
        <%= render 'layouts/navigation/logged_in' %>
      <% else %>
        <%= render 'layouts/navigation/logged_out' %>
      <% end %>
      <div class="content">
        <div id="hamburger" data-behavior="open-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
